<h2><%= @repository.full_name %></h2>

<p>Owner: <%= image_tag @repository.owner_image, width: 32 %> <%= @repository.owner %></p>

<p>
  <% if current_user.follows(@repository) %>
    <%= link_to 'Unfollow', unfollow_repository_path(@repository), method: :post %>
  <% else %>
    <%= link_to 'Follow', follow_repository_path(@repository), method: :post %>
  <% end %>
</p>
